.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

thead th {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

img.details {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.cart-actions a {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

.cart-actions a:hover {
  background-color: #0062cc;
}

.product-name {
  font-weight: bold;
  font-size: 16px;
}

.product-price {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  margin-right: 200px;
}

.remove-button-col {
  text-align: center;
}

.quantity-col {
  text-align: center;
}
