.navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  position: fixed;
  align-items: center;
  padding: 0px 20px;

  top: 0;
  left: 0;
  width: 100%;
  z-index: 2; /* increase the z-index to bring it to the front */
  /* other styles for the navbar */
}

.heading {
}

.links a {
  color: black;
  margin-left: 10px;
  text-decoration: none;
  font-size: 20px;
}

.links {
  display: flex;
  margin-right: 30px;
}
